In [2]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC 
from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score
from sklearn.metrics import recall_score, f1_score

In [3]:
kepler_df=pd.read_csv('kepler_data.csv', skiprows=52)

In [4]:
kepler_df.head()

,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,...,koi_steff_err2,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra,dec,koi_kepmag
0,10797460,K00752.01,Kepler-227 b,CONFIRMED,CANDIDATE,1.000,0,0,0,0,...,-81.0,4.467,0.064,-0.096,0.927,0.105,-0.061,291.93423,48.141651,15.347
1,10797460,K00752.02,Kepler-227 c,CONFIRMED,CANDIDATE,0.969,0,0,0,0,...,-81.0,4.467,0.064,-0.096,0.927,0.105,-0.061,291.93423,48.141651,15.347
2,10811496,K00753.01,NaN,CANDIDATE,CANDIDATE,0.000,0,0,0,0,...,-176.0,4.544,0.044,-0.176,0.868,0.233,-0.078,297.00482,48.134129,15.436
3,10848459,K00754.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,0,...,-174.0,4.564,0.053,-0.168,0.791,0.201,-0.067,285.53461,48.285210,15.597
4,10854555,K00755.01,Kepler-664 b,CONFIRMED,CANDIDATE,1.000,0,0,0,0,...,-211.0,4.438,0.070,-0.210,1.046,0.334,-0.133,288.75488,48.226200,15.509

In [5]:
kepler_df.describe()

,kepid,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,koi_period,koi_period_err1,koi_period_err2,koi_time0bk,...,koi_steff_err2,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra,dec,koi_kepmag
count,9.564000e+03,8054.000000,9564.000000,9564.000000,9564.000000,9564.000000,9564.000000,9110.000000,9110.000000,9564.000000,...,9081.000000,9201.000000,9096.000000,9096.000000,9201.000000,9096.000000,9096.000000,9564.000000,9564.000000,9563.000000
mean,7.690628e+06,0.480829,0.208595,0.232748,0.197512,0.120033,75.671358,0.002148,-0.002148,166.183251,...,-162.265059,4.310157,0.120738,-0.143161,1.728712,0.362292,-0.394806,292.060163,43.810433,14.264606
std,2.653459e+06,0.476928,4.767290,0.422605,0.398142,0.325018,1334.744046,0.008236,0.008236,67.918960,...,72.746348,0.432606,0.132837,0.085477,6.127185,0.930870,2.168213,4.766657,3.601243,1.385448
min,7.574500e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.241843,0.000000,-0.172500,120.515914,...,-1762.000000,0.047000,0.000000,-1.207000,0.109000,0.000000,-116.137000,279.852720,36.577381,6.966000
25%,5.556034e+06,0.000000,0.000000,0.000000,0.000000,0.000000,2.733684,0.000005,-0.000276,132.761718,...,-198.000000,4.218000,0.042000,-0.196000,0.829000,0.129000,-0.250000,288.660770,40.777173,13.440000
50%,7.906892e+06,0.334000,0.000000,0.000000,0.000000,0.000000,9.752831,0.000035,-0.000035,137.224595,...,-160.000000,4.438000,0.070000,-0.128000,1.000000,0.251000,-0.111000,292.261125,43.677504,14.520000
75%,9.873066e+06,0.998000,0.000000,0.000000,0.000000,0.000000,40.715178,0.000276,-0.000005,170.694603,...,-114.000000,4.543000,0.149000,-0.088000,1.345000,0.364000,-0.069000,295.859160,46.714611,15.322000
max,1.293514e+07,1.000000,465.000000,1.000000,1.000000,1.000000,129995.778400,0.172500,0.000000,1472.522306,...,0.000000,5.364000,1.472000,0.000000,229.908000,33.091000,0.000000,301.720760,52.336010,20.003000

In [6]:
kepler_df.isnull().sum()

kepid                   0
kepoi_name              0
kepler_name          7204
koi_disposition         0
koi_pdisposition        0
koi_score            1510
koi_fpflag_nt           0
koi_fpflag_ss           0
koi_fpflag_co           0
koi_fpflag_ec           0
koi_period              0
koi_period_err1       454
koi_period_err2       454
koi_time0bk             0
koi_time0bk_err1      454
koi_time0bk_err2      454
koi_impact            363
koi_impact_err1       454
koi_impact_err2       454
koi_duration            0
koi_duration_err1     454
koi_duration_err2     454
koi_depth             363
koi_depth_err1        454
koi_depth_err2        454
koi_prad              363
koi_prad_err1         363
koi_prad_err2         363
koi_teq               363
koi_teq_err1         9564
koi_teq_err2         9564
koi_insol             321
koi_insol_err1        321
koi_insol_err2        321
koi_model_snr         363
koi_tce_plnt_num      346
koi_tce_delivname     346
koi_steff             363
koi_steff_err1        468
koi_steff_err2        483
koi_slogg             363
koi_slogg_err1        468
koi_slogg_err2        468
koi_srad              363
koi_srad_err1         468
koi_srad_err2         468
ra                      0
dec                     0
koi_kepmag              1
dtype: int64

In [7]:
kepler_df = kepler_df.drop([ 'kepid', 'kepoi_name', 'kepler_name',
                     'koi_pdisposition', 'koi_score', 'koi_tce_delivname',
                     'koi_teq_err1', 'koi_teq_err2'], axis=1)

In [8]:
kepler_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9564 entries, 0 to 9563
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   koi_disposition    9564 non-null   object
 1   koi_fpflag_nt      9564 non-null   int64
 2   koi_fpflag_ss      9564 non-null   int64
 3   koi_fpflag_co      9564 non-null   int64
 4   koi_fpflag_ec      9564 non-null   int64
 5   koi_period         9564 non-null   float64
 6   koi_period_err1    9110 non-null   float64
 7   koi_period_err2    9110 non-null   float64
 8   koi_time0bk        9564 non-null   float64
 9   koi_time0bk_err1   9110 non-null   float64
 10  koi_time0bk_err2   9110 non-null   float64
 11  koi_impact         9201 non-null   float64
 12  koi_impact_err1    9110 non-null   float64
 13  koi_impact_err2    9110 non-null   float64
 14  koi_duration       9564 non-null   float64
 15  koi_duration_err1  9110 non-null   float64
 16  koi_duration_err2  9110 non-null   float64
 17  koi_depth          9201 non-null   float64
 18  koi_depth_err1     9110 non-null   float64
 19  koi_depth_err2     9110 non-null   float64
 20  koi_prad           9201 non-null   float64
 21  koi_prad_err1      9201 non-null   float64
 22  koi_prad_err2      9201 non-null   float64
 23  koi_teq            9201 non-null   float64
 24  koi_insol          9243 non-null   float64
 25  koi_insol_err1     9243 non-null   float64
 26  koi_insol_err2     9243 non-null   float64
 27  koi_model_snr      9201 non-null   float64
 28  koi_tce_plnt_num   9218 non-null   float64
 29  koi_steff          9201 non-null   float64
 30  koi_steff_err1     9096 non-null   float64
 31  koi_steff_err2     9081 non-null   float64
 32  koi_slogg          9201 non-null   float64
 33  koi_slogg_err1     9096 non-null   float64
 34  koi_slogg_err2     9096 non-null   float64
 35  koi_srad           9201 non-null   float64
 36  koi_srad_err1      9096 non-null   float64
 37  koi_srad_err2      9096 non-null   float64
 38  ra                 9564 non-null   float64
 39  dec                9564 non-null   float64
 40  koi_kepmag         9563 non-null   float64
dtypes: float64(36), int64(4), object(1)
memory usage: 3.0+ MB

In [9]:
for column in kepler_df.columns[kepler_df.isna().sum() > 0]:
    kepler_df[column] = kepler_df[column].fillna(kepler_df[column].mean())

In [10]:
data = kepler_df[kepler_df.koi_disposition != 'CANDIDATE']

In [11]:
def numeric(value):
    if value == 'CONFIRMED':
        return 1
    else:
        return 0

data["koi_disposition"] = data.koi_disposition.map(numeric)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [12]:
data.koi_disposition.value_counts()

0    4840
1    2358
Name: koi_disposition, dtype: int64

In [13]:
X = data.drop('koi_disposition', axis=1)
y = data['koi_disposition']

In [14]:
scaler = StandardScaler()
X = scaler.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                train_size=0.8, test_size=0.2, random_state=0)

In [38]:
models = {
" Logistic Regression": LogisticRegression(),
"        Decision Tree": DecisionTreeClassifier(),
"XGBoost": XGBClassifier(eval_metric='logloss'),
"KNN":KNeighborsClassifier(n_neighbors=7),
"SVM":SVC(kernel="linear",C=1.5 ,cache_size=4000,gamma='auto', probability=True)
}

In [39]:
for name, model in models.items():
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    print(name)
    print("Accuracy: {}.".format(accuracy_score(y_test,y_pred)))
    print("Precision: {}.".format(precision_score(y_test,y_pred)))
    print("Recall: {}".format(recall_score(y_test,y_pred)))
    print("F1_Score: {}".format(f1_score(y_test,y_pred)))
    print()

 Logistic Regression
Accuracy: 0.9861111111111112.
Precision: 0.984304932735426.
Recall: 0.9712389380530974
F1_Score: 0.977728285077951

        Decision Tree
Accuracy: 0.9881944444444445.
Precision: 0.9909706546275395.
Recall: 0.9712389380530974
F1_Score: 0.9810055865921787

XGBoost
Accuracy: 0.9930555555555556.
Precision: 0.9977477477477478.
Recall: 0.9800884955752213
F1_Score: 0.9888392857142857

KNN
Accuracy: 0.96875.
Precision: 0.9339019189765458.
Recall: 0.9690265486725663
F1_Score: 0.9511400651465798

SVM
Accuracy: 0.9930555555555556.
Precision: 0.9955156950672646.
Recall: 0.9823008849557522
F1_Score: 0.9888641425389755